<template>
    <div class="tag">
        <div v-if="error">{{error}}</div>
        <h3>#{{currentTag}}</h3>
        <div v-if="posts.length" class="layout">
            <PostList :posts="filteredPosts"/>
            <TagCloud :posts="posts"/>
        </div>
        <div v-else> 
            <Spinner />
        </div>
    </div>

</template>

<script>
import { computed, ref } from 'vue'
import { useRoute } from 'vue-router'
import getPosts  from '../composables/getPosts'
import Spinner from '../components/Spinner.vue'
import PostList from '../components/PostList.vue'
import TagCloud from '../components/TagCloud.vue'

export default {
  components: { Spinner, PostList, TagCloud },
  setup() {
    const route = useRoute()
    const {posts, error, load} = getPosts()
    const currentTag = ref(route.params.tag)
    load()

    const filteredPosts = computed(()=>{
        return posts.value.filter((post) => post.tags.includes(currentTag.value))
    })


    return { error, posts, filteredPosts, currentTag }
  }
}
</script>

<style>
  .tag{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
</style>
